@import "tailwindcss";

@theme {
  --color-dark-violet: hsl(256, 26%, 20%);
  --color-grayish-blue: hsl(216, 30%, 68%);
  --color-very-dark-violet: hsl(270, 9%, 17%);
  --color-dark-grayish-violet: hsl(273, 4%, 51%);
  --color-light-gray: hsl(0, 0%, 98%);
  --font-karla: "Karla", "sans-serif";
  --font-dmSerif: "DM Serif Display", "sans-serif";
}

body {
  font-family: "Karla", "sans-serif";
}

.footer__pattern {
  filter: brightness(0) saturate(100%) invert(52%) sepia(6%) saturate(426%)
    hue-rotate(233deg) brightness(95%) contrast(88%);
}
